html {
    font-size: 1rem;
    margin: 0;
}

body {
    margin: 0;
    background: #FAFAFA;
    font-family: Arial;
    color: #000;
}

h1 {
    margin: 0;
    padding: 10px;
    color: #6CBD4A;
    text-decoration: none;
    font-size: 80px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    position: relative;
    cursor: default;
}

h1:after {
    content: "MensaTracker";
    position: absolute;
    left: 155px;
    top: 40px;
    background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
    background-size: 4px 4px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    text-shadow: none;
    z-index: -1;
}

h1 #logo {
    width: 7%;
    height: 7%;
}

header {
    width: 100%;
    height: 5vw;
    margin: 0;
    background-color: #D1CF9D;
    border-style: solid;
    border-width: 2px 0 2px 0;
    border-color: #949473;
    color: #FAFAFA;
    text-align: right;
    cursor: default;
}

header #budget {
    margin: 10px;
}

header #moneytracker {
    position: absolute;
    display: inline;
    right: 10px;
    top: 160px;
}

header #myProgress {
    margin: 8px;
    height: 15px;
    float: right;
    top: 5px;
    width: 150px;
    background-color: #9E9E9B;
    border-style: solid;
    border-radius: 0.5em;
    border-color: #474746;
    border-width: 2px;
}

header #myProgress #myBar {
    width: 0;
    height: 15px;
    background-color: #4CC972;
    text-align: center;
    line-height: 14px;
    color: white;
    border-radius: 0.35em;
}

header #moneytracker #moneytracker-value{
    float: right;
    margin: 8px;
}

header #moneytracker #moneytracker-button{
    float: right;
    margin: 0 10px;
}

header #moneytracker #moneytracker-input-field {
    position: absolute;
    right: 5%;
    margin: 0 10px;
}

header #moneytracker #moneytracker-input-field #moneytracker-input {
    position: absolute;
    right: 80px;
    width: 40px;
    border: 2px solid #999;
    border-radius: 0.5em;
    font-size: 1.2em;
    display: block;
    background-color: #FFF;
    text-align: center;
    text-transform: uppercase;
}

nav {
    position: relative;
    padding: 20px 0;
    width: 60%;
    height: 4vw;
    margin: 0;
    left: 20vw;
    z-index: 1;
}

nav #search {
    float: left;
    border: 2px solid #999;
    border-radius: 0.5em;
    font-size: 1.2em;
    width: 10em;
    height: 2vw;
    transition: width 0.5s ease-in-out;
    cursor: text;
    margin: 0 7px;
}
 
nav #search:focus {
    width: 40%;
}

nav #filter {
    float: left;
}

nav #filter .dropdown-content {
    background-color: white;
    text-align: left;
    display: none;
    position: absolute;
    top: 50px;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: default;
    height: auto;
    padding: 5px;
    left: 210px;
    border-style: solid;
    border-color: #D2D2D2;
    border-width: 2px;
    border-radius: 0.5em;
}

nav #filter .dropdown-content span {
    opacity: 1;
    display: block;
    margin: 5px;
}

nav #filter .dropdown-content span:hover {
    background-color: #DDD;
}

nav #filter:hover .dropdown-content {
    display: block;
}

nav #filter .dropdown-content:hover {
    display: block;
}

nav #statistics {
    float: left;
    margin: 0 7px;
}

#delete-popup {
    position: absolute;
    margin: 20px;
    border-color: red;
    border-width: 5px;
    font-weight: bold;
    text-align: center;
    width: 40%;
    left: 400px;
}

#delete-popup #delete-ok {
    margin: 20px;
}

.fa-eye {
    float: right;
}

#entry-counter {
    float: right;
    margin: 0 15px 0 5px;
}

.floatLeft {
    position: relative;
    float: left;
    border: 2px solid #999;
    border-radius: 0.5em;
    background-color: #EEEEEE;
    width: 15%;
    height: auto;
    margin: 10px;
    padding: 10px;
    cursor: default;
    text-align: center;
}

.floatLeft #meal {
    border-radius: 0.5em;
    height: 2vw;
   
}

.floatLeft #checkedMeal {
    background-color: #CFCFC1;
    border-radius: 0.2em;
    margin: 10px;
    padding: 10px;
}

.floatLeft #rating {
   text-align: center;
}

.floatLeft #rating .rating {
    margin: 20px;
    font-size: 1.5em;
    unicode-bidi: bidi-override;
    direction: rtl;
    color: #BDBDBD;
    cursor: pointer;
    text-align: center;
}

.floatLeft #rating .rating > span{
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.floatLeft #rating .rating > span:hover:before,
.floatLeft #rating .rating > span:hover ~ span:before{
    position: relative;
    color: orange;
}

.floatLeft #mood {
    margin: 0;
    font-size: 1em;
    padding: 0;
    text-align: center;
}

.floatLeft #mood .fas {
    margin: 20px;
    font-size: 1.5em;
    color: #BDBDBD;
    cursor: pointer;
}

.floatLeft #mood #bad-mood:hover {
    color: red;
}

.floatLeft #mood #semi-mood:hover {
    color: orange;
}

.floatLeft #mood #good-mood:hover {
    color: green;
}

.floatLeft #entry-buttons {
    text-align: center;
}

.floatLeft #submit {
   margin: 0 10px 0 0;
}

.floatLeft #cancel {
   margin: 0 0 0 10px;
}

.floatRight {
    position: relative;
    float: left;
    width: 50%;
    background-color: #EEEEEE;
    border: 2px solid #999;
    border-radius: 0.5em;
    margin: 10px;
    text-align: center;
    cursor: default;
    overflow: auto;
}

.floatRight #more {
    position: relative;
    border-radius: 0.5em;
    height: 2vw;
}

#statistics-popup {
    position: absolute;
    top: 5vw;
    left: 5%;
    width: 90%;
    text-align: center;
}

#statistics-popup #number-chart {
    float: left;
    width: 50% !important;
    height: 500px !important
}

#statistics-popup #money-chart {
    float: left;
    width: 50% !important;
    height: 500px !important;
}

#statistics-popup #statistics-rating {
    font-size: 1;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
  
#statistics-popup #statistics-rating .fa {
    margin: 0 5px;
    font-size: 1.5em;
    color: #BDBDBD;
}

#statistics-popup #statistics-ok {
    margin: 10px 0;
}

#meal-popup{
    left: 5vw;
    width: 90vw;
    margin: 0 auto;
    padding: 0;
    border-style: solid;
    border-width: 3px;
    border-color: #000;
    border-radius: 5px;
    box-shadow: 5px 5px;
    background-color: white;
}

.day-selector {
    display: flex;
    width: 90vw;
    height: 5%;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 2px 0 2px 0;
    border-color: #242E1C;
}

.day-selector li {
    display: block;
    width: 17vw;
    padding: 0.5vw;
    list-style-type: none;
    background-color: #FFF;
    text-align: center;
    color: #3C6929;
}

.day-selector li:hover:not(.selected) {
    background-color: #3C6929;
    opacity: 0.9;
    cursor: pointer;
    color: #FFF;
}

.day-selector li.selected {
    background-color: #3C6929;
    color: #FFF;
}

.daily-menu {
    display: flex;
    width: 90vw;
    margin: 2vh auto;
    padding: 0;
}

.daily-menu .category {
    display: block;
    width: 22.5vw;
    padding: 0;
    margin: 0;
    padding: 0; 
}

.daily-menu .category li {
    display: block;
    clear: both;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

.daily-menu .category .label {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 25px;
    line-height: 50px;
    color: #3C6929; 
}

.daily-menu .category .label:before {
    content: ' ~ ';
}

.daily-menu .category .label:after {
    content: ' ~ ';
}

.daily-menu .category .entry {
    display: block;
    width: 20vw;
    margin: 0.5vw auto;
    padding: 2vh 0.5vw;
    background-color: #EBEDA8;
    border-style: solid;
    border-width: 1px;
    border-color: #EFEFEF;
    border-radius: 0.5em;
    overflow: hidden;
    opacity: 1;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    text-transform: uppercase;
    font-size: 1.15em;
    font-weight: 500;
    color: #242E1C;
    cursor: pointer;
}

#ok-button {
    float: right;
}

.entry-list {
    list-style-type: none;
    left: 50% !important;
}

.entry-list #month-element {
    float: left;
    top: 0;
}

.entryMeal {
    background-color: #FFF;
    position: relative;
    margin-left: 25%;
    margin-bottom: 0.5vw;
    width: 20vw;
    height: 11vw;
    border-style: solid;
    border-width: 6px;
    border-radius: 0.1em;
    border-color: #344732;
   -webkit-box-shadow: 10px 10px 23px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 23px -8px rgba(0,0,0,0.75);
box-shadow: 10px 10px 23px -8px rgba(0,0,0,0.75);
}

.entryTitle {
    padding: 5px;
    position: absolute;
    text-align: left;
    width: 70%;
    top: 0.3vw;
    left: 0.2vw;
    font-weight: bold; 
}

.entryPrice {
    padding: 5px;
    position: absolute;
    bottom: 3.2vw;
    left: 0.1vw;
}    

.entryRating{
    padding: 5px;
    position: absolute;
    bottom: 1.7vw;
    left:  0vw;
    color: orange;
}

.entryMood{
    padding: 5px;
    position: absolute;
    bottom: 0.1vw;
    left: 0.1vw;
}

.entryDate{
    padding: 5px;
    position: absolute;
    bottom: 0vw;
    right: 0vw;
}

.entryInfo{
    margin: 5px 0;
    width: 70px;
    position: absolute;
    right: 0.5vw;
    top: 2.5vw;

}

.entryDelete{
    margin: 5px 0;
    width: 70px;
    position: absolute;
    right: 0.5vw;
    top: 0.2vw;
}

.entryMoneyIcon{
    position: absolute;
    bottom: 3.2vw;
    left: 3.5vw;
    padding: 7px;
    color: green;   
}

#entry-InfoPopup {
    position: absolute;
    margin: 7px;
    background-color: #f0f0f0;
    right: 20vw;
    top: 20vw;
    width: 20%;
    text-align: center;
}

#entry-InfoPopup:before {
    content: "";
    position: absolute;
    top: 30px;                         
    margin-top: -15px;                
    left:-60px;
    border: solid 30px transparent;
    border-right-color: #000;
    z-index: 1;
}

#entry-InfoPopup .ingredient-list {
    text-align: left;
}

#entry-InfoPopup #entry-infoPopupButton {
    margin: 20px !important;
}

#entry-DeletePopup {
    padding: 20px;
    left: 230px;
    width: 20%;
    text-align: center;
}

.floatRight #entry-DeletePopup #entry-deletePopupButton {
    margin: 5px;
}

.floatRight #entry-DeletePopup #entry-deletePopupButton {
    margin: 5px;
}

footer {
    position: fixed;
    width: 50vw;
    height: 3vh;
    bottom: 3vh;
    font-weight: 300;
    line-height: 3vh;
    color: #545454;
    text-align: right;
    right: 0;
}

footer a {
    color: #333;
}

button {
    cursor: pointer;
    height: 2vw;
    -moz-box-shadow: 2px 3px 0px 0px #899599;
    -webkit-box-shadow: 2px 3px 0px 0px #899599;
    box-shadow: 2px 3px 0px 0px #899599;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
    background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
    background-color:#ededed;
    border:1px solid #d6bcd6;
    display:inline-block;
    font-family:Arial;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
}

button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
    background-color:#bab1ba;
}

.popup {
    position: absolute;
    height: auto;
    top: 10vw;
    margin: 0 auto;
    padding: 0;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: #000;
    border-radius: 5px;
    box-shadow: 5px 5px;
    z-index: 1;
}

.checked {
    color: orange !important;
}

.checked-red {
    color: red !important;
}

.checked-green {
    color: green !important;
}

.fa-question {
    font-size: 0.8em !important;
    color: #545454;
}

.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip .bottom {
    position: absolute;
    float: right;
    min-width: 100px; 
    top: 20px;
    left: 70%;
    transform: translate(-90%, 0);
    padding: 10px 20px;
    color: #444444;
    background-color: #EEEEEE;
    font-weight: normal;
    font-family: Arial;
    font-size: 13px;
    border-radius: 8px;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: 3px 0px 9px 0 #000000;
    visibility: hidden; 
    opacity:0; 
    transition:opacity 0.8s;
}

.tooltip .bottom:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 85%;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid #EEEEEE;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.tooltip:hover .bottom {
    visibility: visible;
    opacity: 1;
}

.information {
    position: absolute;
    top: 80%;
    padding: 10px;
    background-color: #FFE7E6;
    border-style: solid;
    border-radius: 8px;
    border-color: #802121;
    z-index: 10 !important;
    box-sizing: border-box;
    box-shadow: 3px 0px 9px 0 #000000;
    visibility: hidden; 
    opacity:0; 
}

.fa-exclamation-circle {
    color: #802121;
}

.triggered {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
}

.untriggered {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;opacity: 0;
}

.activated {
    background-color: #C3C3C3;
}

.hidden {
    display: none !important;
}